---
import Layout from "../layouts/Layout.astro";
import { playlists } from "../libreria/datos";
import PlaylistItemCard from "../components/PlaylistItemCard.astro";
import PlaylistMasEscuchados from "../components/PlaylistMasEscuchados.astro";
import Saludo from "../components/MensajeSaludo.jsx";
---

<Layout title="Spurify">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-red-800"
  >
    <div class="relative z-10 px-6 pt-10">
      <Saludo />

      <div class="flex flex-wrap mt-4 gap-2 pb-6">
        {
          playlists
            .slice(0, 6)
            .map((playlists) => <PlaylistMasEscuchados playlist={playlists} />)
        }
      </div>

      <div class="grid -mx-2 gap-1">
        <h3 class="flex font-bold text-2xl">Lo mejor de cada artista</h3>
        <div class="flex flex-row">
          {
            playlists
              .slice(0, 6)
              .map((playlists) => <PlaylistItemCard playlist={playlists} />)
          }
        </div>
        <h3 class="flex font-bold text-2xl">Tu Biblioteca</h3>
        <div class="flex flex-row">
          {
            playlists
              .slice(6)
              .map((playlists) => <PlaylistItemCard playlist={playlists} />)
          }
        </div>
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/90"
    >
    </div>
  </div>
</Layout>

<style></style>
